/******************************************************************

Stylesheet: Desktop Stylsheet

******************************************************************/
html {
    line-height:1.6;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#content {

    .sidebar {
        padding:0 3vw;
    }

    &.halfsies {
        grid-template-columns:50% 50%;
    }
}
.single #content {
    grid-template-areas:
        "meta main sidebar"
        "singlefooter singlefooter singlefooter"
    ;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap:0;
}


    #articleStuff {
    	grid-area:meta;
        padding:0 3vw 0 0;
    }


/*********************
HEADER STYLES
*********************/

    #inner-header {
        #logo {
            a {
                img {
                    height:80px;
                    width:auto;
                }
            }

            #beta {
				margin:0;
				left:54%;
				bottom:10px;
				top:auto;
			}
        }

        a.mainNavToggle, a.supportNavToggle {
            img {
                padding:0 10px 20px;
            }
            span {
                width:100%;
                bottom:0;
                height:40px;
                line-height:40px;
                left:0;
                text-align:center;
            }
        }
    }

    #siteSections {
        margin:0;
        display:flex;
        align-self:stretch;

        ul {
            margin:0;
            padding:0;

            li {
                display:flex;
                align-items: stretch;

                a {
                    text-decoration:none;
                    line-height:1;
                    color:black;
                    display:flex;
                    flex-direction: column;
                    padding:0 20px;
                    font-size:.9rem;
                    justify-content: center;
                    align-items: stretch;
                    margin:10px;

                    &:hover {
                      animation-name: wiggle;
                      animation-duration: 300ms;
                      animation-iteration-count: 1;
                      animation-timing-function: ease-in-out;
                    }
                }

                &#donate {display:none;}

                .newsFlag {
                    position:absolute;
                    top:0;
                    font-size:12px;
                    font-weight:bold;
                    padding:4px 6px;
                    right:0;
                    display:inline-block;
                    border-radius:100px;
                    background:black;
                }

                #CampusProgramsFlag {
                    bottom:0;
                    top:auto;
                    left:50%;
                    color:white;
                    right:auto;
                    transform:rotate(-12deg) translate(-50%,-50%);
                }

                &:nth-child(1) a {color: $pink;}
                &:nth-child(2) a {color: $orange;}
                &:nth-child(3) a {color: $yellow;}
                &:nth-child(4) a {color:$green;}
                &:nth-child(5) a {color:$blue;}
                &:nth-child(6) a {color:$purple;}
            }
        }
    }

            .page-template-page-programs #campusprograms a,
            .page-template-page-articles-books #articles a,
            .page-about #about a,
            .page-template-page-edugraphics-printables #edugraphics a,
            .page-template-page-activities-classes #activities a,
            .page-template-page-videos-podcasts #videos a{
                background:#fefefe; margin-bottom:-1px;
                -webkit-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
                -webkit-box-shadow: 0 -10px 20px -10px rgba(0,0,0,.2);
                box-shadow: 0 -10px 20px -10px rgba(0,0,0,.2);

                &:hover {
                    animation: none;
                }
            }

/*********************
NAVIGATION STYLES
*********************/

#primaryNavContainer {

	nav#primaryNav {

		ul {

			li {

				a {
					padding:0 16px;
					font-size:13px;
				}
			}
		}
	}
}

.single {
    .authorSnapshot, .catSplaining, .byline {
		font-size:.8em;
	}
}

/*********************
HOME STYLES
*********************/

#home--intro--about {

    .gradient-cool {
        p {
            position: relative;
            margin-right:110px;
            z-index: 1;
        }
    }
    .self-portrait {
        display:block;
        position:absolute;
        bottom:-3vw;
        top:auto;
        width:140px;
        right:0;
        z-index:0;
    }
}

/**********************
ACTIVITIES AND CLASSES PAGE STYLES
**********************/

.page-template-page-activities-classes {

	aside#TheHotness {
		flex-basis:500px;
    }
}

/**********************
SHORTCODE STYLES
**********************/
.heyHeyLook {

    &.g2g2 {
        float:left;
        max-width:240px;
        margin:3vw 3vw 3vw -120px;
        flex-direction: column;
        padding:10px;
        font-size:16px;

        .image {
            padding-bottom:0;
        }

        p {
            padding:20px;

            a {
                display:block;
                text-align:center;
                padding:0;
                margin:.75em 0 0;
            }
        }
    }
}

/*********************
GLOSSARY TERMINOLOGY LGBTQ POST
*********************/

.entry-content {

	.term {
		margin-left:-2vw;
	}
}
